*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    min-height: 100vh;
    max-width: 100vw;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    align-items: center;
    background-image: url("../put1.webp");
    }

.card{
    padding: 10px;
    background-color: white;
    min-height: 30vh;
    max-width: 20vw;
    text-align: center;
    margin: 5%;
    background-color: burlywood;
}

.card:hover{
    cursor: pointer;
    min-height: 45vh;
    background-color:orange;
}

.card > h2 {
    color:brown;
}

.card > p {
    padding: 10px;
}

@media screen and (max-width: 450px) {
   .App{
   
    display: grid;
    grid-template-columns: repeat( auto-fill ,186px) ;
   align-items: center;
   justify-content: center;
    } 

    .card{
    max-width: 50vw;     
    }

  }